PORT=5000

MONGO_URI=mongodb://your_user_name:your_user_password@localhost:27017/db_crm_local?authSource=admin
NODE_ENV=development

JWT_SECRET=your-super-secret-jwt-key

CLIENT_ORIGIN=http://localhost:3000